<div>Welcome to the board <%= @name %></div>

<div>You last shot at <%= @target %></div>

  <% @grid.each do |key,value| %>
 <div id="<%= key %>">|<%= key %><%= value.content %>|</div>
 <% end %>

<form action="/board" method="post">
      <question>What cell would you like to shoot at?</question>
      <input type="text" name="cell_shot">
      <input type="submit" value="submit" name="submit">
</form>